apiVersion: template.openshift.io/v1
kind: Template
metadata:
  creationTimestamp: null
  name: selectorsyncset-template
objects:
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    creationTimestamp: null
    labels:
      managed.openshift.io/gitHash: ${IMAGE_TAG}
      managed.openshift.io/gitRepoName: ${REPO_NAME}
      managed.openshift.io/osd: "true"
    name: ocm-agent-resources
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: "true"
    resourceApplyMode: Sync
    resources:
    - apiVersion: ocmagent.managed.openshift.io/v1alpha1
      kind: OcmAgent
      metadata:
        name: ocm-agent
        namespace: openshift-ocm-agent-operator
      spec:
        agentConfig:
          ocmBaseUrl: ${OCM_BASE_URL}
          services:
          - service_logs
          - clusters_mgmt
        ocmAgentImage: ${REGISTRY_IMG}@${IMAGE_DIGEST}
        replicas: 2
        tokenSecret: ocm-access-token
  status: {}
parameters:
- name: IMAGE_TAG
  required: true
- name: REPO_NAME
  required: true
  value: ocm-agent
- name: REGISTRY_IMG
  required: true
- name: IMAGE_DIGEST
  required: true
- name: OCM_BASE_URL
  required: true
